html{
  color:white;
  font-size: 18px;
  width:960px;
}
/*Header Section*/
.top{
  background-color: black;
  width:100%;
}
.top .container{
  display: flex;
  align-items: center;
  padding: 0.66rem 0px 0.66rem 0;
  font-family: Helvetica;
  font-size: 1rem;
}
.container{
  max-width: 960px;
  margin: 0px;
}
.container img{
  padding-right: 1rem;
  padding-left: 0.5rem;
  height:1.5em;
}
/*Main Image Section*/
.main {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
.box{
  background-color: black;
  width:20rem;
  margin-top: 9rem;
  padding:2em 3em;
}
.box h1,h4{
  font-weight: bold;
  font-family: Helvetica;
  display: block;
}
.box h4{
  font-size: 1rem;
}
.box h1{
  font-size:2rem;
  margin:0.25rem 0;
}
/*Menu*/
.menu{
  background-color: firebrick;
}
.list{
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.75rem 0 0.75rem 0;
}
/*Product Image*/
.productcontainer{
  margin-top: 3rem;
  margin-bottom: 3em;
  display:flex;
  justify-content: space-between;
}
.productimage{
  border: 4px solid black;
  width: 30%;
  overflow: hidden;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.productimage img{
  height: 9rem;
  width:9rem;
  margin:2rem;
  display: block;
  max-width: 100%;
}
.imagetext{
  display:block;
  text-align: center;
  background-color: black;
  padding: 0.5rem 0 0.5rem 0;
}
.businessinfo{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.info{
  display: flex;
  flex-direction: column;
  width:35%;
  color:black;
}
.storetext{
  background-color: black;
  padding: 1rem 0 1rem 2rem;
  color:white;
}
/*Footer*/
footer{
  background-color: black;
  height:5rem;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
